<section class="features-wrap">
    <div class="container">
        <div class="features">
            <div class="feature-list">
                <div class="single-feature">
                    <div class="feature-icon"><i class="fa fa-headphones"></i></div>
                    <div class="feature-details">
                        <h6>24/7 SUPPORT</h6> <span>Support every time</span>
                    </div>
                </div>
                <div class="single-feature">
                    <div class="feature-icon"><i class="fa fa-credit-card"></i></div>
                    <div class="feature-details">
                        <h6>ACCEPT PAYMENT</h6> <span>Visa, Paypal, Master</span>
                    </div>
                </div>
                <div class="single-feature">
                    <div class="feature-icon"><i class="fa fa-shield-alt"></i></div>
                    <div class="feature-details">
                        <h6>SECURED PAYMENT</h6> <span>100% secured</span>
                    </div>
                </div>
                <div class="single-feature">
                    <div class="feature-icon"><i class="fa fa-truck"></i></div>
                    <div class="feature-details">
                        <h6>FREE SHIPPING</h6> <span>Order over $100</span>
                    </div>
                </div>
                <div class="single-feature">
                    <div class="feature-icon"><i class="fa fa-calendar-minus"></i></div>
                    <div class="feature-details">
                        <h6>30 DAYS RETURN</h6> <span>30 days guarantee</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>