<%- include ../partials/header %>

<div class="container page-content">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Conditions of Use, Notices, and Revisions</h1>
      <p>
        Welcome to the leadingblisspack website operated by Bridi-ael Group (leadingblisspack, “We” or “Us”). We provide the https://leadingblisspack.com website (“Site”) subject to your compliance with the following Terms and Conditions of Use (“Terms”), as well as any other written agreement(s) between us and you.
        <br/><br/>
        As used in these Terms, references to our “Affiliates” include our owners, licensees, assigns, subsidiaries, affiliated companies, officers, suppliers, partners, sponsors, advertisers, and includes (without limitation) all parties involved in creating, producing, and/or delivering this Site and/or contents and products available on this Site.
        <br/><br>
        PLEASE READ THESE TERMS CAREFULLY BEFORE ACCESSING THE SITE. AS USED IN THESE TERMS, THE SITE MEANS THE ENTIRETY OF THIS WEBSITE INCLUDING, BUT NOT LIMITED TO, ALL CONTENT, PRODUCTS, SERVICES, INFORMATION, AND ANY PORTIONS THEREOF. BY USING THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS. BY AGREEING TO THESE TERMS, YOU ARE WAIVING YOUR RIGHT TO SUE IN COURT AND YOUR RIGHT TO BRING ANY CLASS, COLLECTIVE, OR REPRESENTATIVE PROCEEDING AGAINST US. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS, WE’LL BE SAD TO SEE YOU GO, BUT PLEASE EXIT THE SITE. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THIS SITE, PRODUCTS AVAILABLE ON THIS SITE, OR THESE TERMS IS TO CEASE USING THE SITE.
      </p>

      <h4>Registration and account </h4>
      <p>
            You may not register with us if you are under 18 years of age (by using our services or agreeing to these general terms and conditions you warrant and represent to us that you are at least 18 years of age or under the supervision of your parents/guardian).
            If you register for an account with our use you will be asked to provide an email address/user ID and password and you agree to:
            <ul>
                <li>keep your password confidential;</li>
                <li>Notify us in writing immediately if you become aware of any disclosure of your password; and</li>
                <li>be responsible for any activity on our marketplace arising out of any failure to keep your password confidential and that you may be held liable for any losses arising out of such a failure.</li>
                <li>Your account shall be used exclusively by you and you shall not transfer your account to any third party. If you authorize any third party to manage your account on your behalf this shall be at your own risk.</li>
                <li>We may suspend or cancel your account and/or edit your account details at any time in our sole discretion and without notice or explanation providing that if we cancel any products or services you have paid for but not received and you have not breached these general terms and conditions we will refund you in respect of the same.</li>
                <li>You may cancel your account on our marketplace by contacting us</li>
            </ul>
      </p>

      <h4>Returns and refunds</h4>
      <p>
        Returns of products by buyers and acceptance of returned products by our merchant associates shall be managed by us in accordance with the returns page on the marketplace as may be amended from time to time. Acceptance of returns shall be in our discretion subject to compliance with applicable laws of the territory.
        <br/><br/>
        Refunds in respect of returned products shall be managed in accordance with the refunds page on the marketplace as may be amended from time to time. Our rules on refunds shall be exercised in our discretion subject to applicable laws of the territory. We may offer refunds in our discretion:
        <ul>
            <li>in respect of the product price;</li>
            <li>local and/or international shipping fees (as stated on the refunds page); and</li>
            <li>by way of store credits vouchers mobile money transfer bank transfers or such other methods as we may determine from time to time.</li>
        </ul>
        Returned products shall be accepted and refunds issued by Bridi-ael Group acting for and on behalf of the merchant. Notwithstanding paragraphs 4.1 and 4.2 above in respect of digital products or services, Bridi-ael Group shall issue refunds in respect of failures in delivery only. Refunds of payment for such products for any other reasons shall be subject to the merchnts's terms and conditions of sale.
      </p>

      <h4>Payments</h4>
      <p>
        You must make payments due under these general terms and conditions in accordance with the Payments Information and Guidelines on the marketplace/product page.
      </p>

      <h4>Promotions</h4>
      <p>
        Promotions and competitions run by Bridi-ael Group and/or other promoters shall be managed in accordance with the Promotions Terms and Conditions. You can view each Promotion's terms and conditions on our website
      </p>
      <h4>Rules About Your Content</h4>
      <p>
        Your use of the Site is subject to all applicable laws and regulations, and you are solely responsible for any comments or reviews. By posting information on the Site, or by otherwise using any communications service, message board, product review or other interactive service available on the Site, you agree that you will not post comments, messages, links, code or other information that:
        <ul>
            <li>are unlawful, threatening, abusive, harassing, defamatory, deceptive, fraudulent, tortious, invasive of another’s privacy, or includes graphic descriptions of sexual or violent content;</li>
            <li>victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;</li>
            <li>infringes on any patent, trademark, trade secret, copyright, right of publicity, privacy rights or other proprietary right of any party;</li>
            <li>consists of unsolicited advertising, junk or bulk email (also known as “spam”), chain letters, any other form of unauthorized solicitation;</li>
            <li>contains any form of malicious code, files, or programs that are designed or intended to disrupt, damage, or limit the functionality of any software, hardware, or telecommunications equipment or otherwise causes damage, or allows you to obtain unauthorized access to any data or other information of any third party;</li>
            <li>breaches the security of, compromises or otherwise allows access to secured, protected or inaccessible areas of this Site, or attempts to gain access to other network or server via your account on this Site;</li>
            <li>impersonates any person or entity, including any of our employees or representatives.</li>
        </ul>
        You also agree not to:
        <ul>
            <li>access, tamper with or use non-public areas of the Site. Unauthorized individuals attempting to access these areas of the Site may be subject to prosecution;</li>
            <li>Incorporate images or names that would violate a person's right of privacy or publicity;</li>
            <li>incorporate a famous person’s image, name or likeness;</li>
            <li>copy, modify or distribute rights or Content from the Site</li>
            <li>collect information about users, including email addresses, without their consent</li>
        </ul>
      </p>

      <h4>Communications</h4>
      <p>
        <strong>Confidential Information.</strong>
         All communications sent by you to us will be treated as non-confidential and non-proprietary (subject to our privacy policy). Please do not submit confidential or proprietary information to us (including patentable ideas, new content suggestions or business proposals) unless we have mutually agreed in writing otherwise. Ideas that we receive unsolicited will be treated as property owned by Bridi-ael Group and will not be returned to you.
         <br/><br/>
         <strong>Notices</strong>. All notices to a party shall be in writing and shall be made via email. Notices to us must be sent to the attention of Customer Service. You agree to allow us to submit notices to you through the email address provided in your user account. Any notices or communication under these Terms will be deemed delivered to the party receiving such communication on the delivery date if transmitted by confirmed email.
      </p>

      <h4>Limitation of Liability & Indemnification</h4>
      <p>
        Your exclusive remedy and our entire liability, if any, for any claims arising out of these Terms and your use of this Site shall be limited to the amount you spent making any purchases on the Site during the 60-day period before the act giving rise to the liability.
        <br><br/>
        IN NO EVENT SHALL WE OR OUR AFFILIATES BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, PUNITIVE, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, DATA, WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THIS SITE OR OF ANY WEBSITE REFERENCED OR LINKED TO FROM THIS SITE.
        <br/><br/>
        FURTHER, WE SHALL NOT BE LIABLE IN ANY WAY FOR THIRD PARTY PROMISES REGARDING OUR PRODUCTS OR CONTENT OR FOR ASSISTANCE IN CONDUCTING COMMERCIAL TRANSACTIONS WITH THE THIRD PARTY THROUGH THIS SITE, INCLUDING, WITHOUT LIMITATION, THE PROCESSING OF ORDERS.
        <br/><br/>
        You agree to defend, indemnify, and hold us and our Affiliates harmless from all liabilities, claims, and expenses, including legal fees that may arise from your use or misuse of this Site. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.
      </p>

      <h4>Disclaimer</h4>
      <p>
        BY USING THIS SITE, YOU UNDERSTAND THAT ANY BUSINESS/TRANSACTION CONDUCTED ON THE INTERNET CARRIES IT'S OWN RISKS. YOU AGREE THAT YOU ARE AWARE OF THIS RISK AND WILL GOVERN YOURSELF ACCORDINGLY. YOU UNDERSTAND THAT THERE IS NOTHING ON THIS SITE THAT CONSTITUTES AN INTENTION TO INDUCE YOU INTO VIOLATING ANY LAWS OR BECOMING INDEBTED TO THIRD PARTIES.
      </p>

      <h4>Account Termination</h4>
      <p>
        <strong>Grounds for Termination</strong>. You agree that We may, at our sole discretion, terminate or suspend your account with the Site with or without notice and for any reason, including, without limitation, breach of these Terms. Any suspected fraudulent, abusive or illegal activity, may be grounds for barring your access to this Site, and reporting you to the proper authorities, if necessary.
        <br/><br/>
        <strong>No Rights Upon Termination</strong>. Upon termination and regardless of the reason(s) motivating such termination, your right to log into your account on this Site will immediately cease. We shall not be liable to you or any third party for any claims for damages arising out of any termination or suspension or any other actions taken by us in connection therewith. 
      </p>

    </div>
  </div>
</div>

<%- include ../partials/footer %>
