<%- include ../partials/header %>

<div class="container page-content">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">Privacy Policy</h1>
      <p>
        We know that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This Privacy Notice describes how leadingblisspack.com and its affiliates (collectively "Bridi-ael Group") collect and process your personal information through Bridi-ael Group websites, devices, products, services, online and physical stores, and applications that reference this Privacy Notice (together "Bridi-ael Group Services"). <strong>By using Bridi-ael Group Services, you are consenting to the practices described in this Privacy Notice.</strong>
        <ul>
            <li><a href="#info-we-collect">What Type of Information We Collect?</a></li>
            <li><a href="#what-we-use-your-info-for">For What Purposes Do We Use Your Personal Information?</a></li>
            <li><a href="#cookies">What About Cookies?</a></li>
            <li><a href="#release-of-information">Release of Information</a></li>
            <li><a href="#information-security">How Secure Is Your Information?</a></li>
            <li><a href="#are-children-allowed">Are Children Allowed to Use Bridi-ael Group Services?</a></li>
        </ul>

      </p>

      <h4 id="info-we-collect">What Type of Information We Collect?</h4>
      <p>
            We collect your personal information in order to provide and continually improve our products and services. Here are the types of personal information we collect:
            <ul>
                <li>
                    <strong>Information You Give Us:</strong>
                     We receive and store any information you provide in relation to Bridi-ael Group Services. You can choose not to provide certain information, but then you might not be able to take advantage of many of our Bridi-ael Group Services.
                </li>
                <li>
                    <strong>Automatic Information:</strong>
                    We automatically collect and store certain types of information about your use of Bridi-ael Group Services, including information about your interaction with products, content and services available through Bridi-ael Group Services. Like many websites, we use "cookies" and other unique identifiers, and we obtain certain types of information when your web browser or device accesses Bridi-ael Group Services and other content served by or on behalf of Bridi-ael Group on other websites. Our physical stores may use cameras, computer vision, sensors, and other technology to gather information about your activity in the store, such as the products and services you interact with.
                </li>
                <li>
                    <strong>Information from Other Sources:</strong>
                    We might receive information about you from other sources, such as updated delivery and address information from our carriers, which we use to correct our records and deliver your next purchase more easily. 
                </li>
            </ul>
      </p>

      <h4 id="what-we-use-your-info-for">For What Purposes Do We Use Your Personal Information?</h4>
      <p>
        We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:
        <ul>
            <li>
                <strong>Purchase and delivery of products and services.</strong>
                We use your personal information to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.
            </li>
            <li>
                <strong>Provide, troubleshoot, and improve our Services.</strong>
                We use your personal information to provide functionality, analyse performance, fix errors, and improve the usability and effectiveness of the Bridi-ael Group Services.
            </li>
            <li>
                <strong>Recommendations and personalization. </strong>
                We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalise your experience with Bridi-ael Group Services.
            </li>
            <li>
                <strong>Comply with legal obligations.</strong>
                In certain cases, we collect and use your personal information to comply with laws. 
            </li>
            <li>
                <strong>Communicate with you.</strong>
                 We use your personal information to communicate with you in relation to our Services via different channels (e.g., by phone, email, etc...).
            </li>
            <li>
                <strong>Advertising.</strong>
                 We use your personal information to display interest-based ads for features, products, and services that might be of interest to you. We do not use information that personally identifies you to display interest-based ads.
            </li>
            <li>
                <strong>Fraud Prevention and Credit Risks.</strong>
                 We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers, Bridi-ael Group, and others. We may also use scoring methods to assess and manage credit risks.
            </li>
        </ul>
      </p>

      <h4 id="cookies">Cookies</h4>
      <p>
        Depending on how you use our Site, we will store cookies on your computer in order to collect certain aggregate data about our users and to customize certain aspects of your specific user experience.
        <br/><br/>
        We may also use an outside advertising partner to display banner advertisements on our Site. As part of their service, they will place a separate cookie on your computer. We will not provide any third-party advertising partners with any of your Personal Information or information about your purchases or activities on the Site. We and our third party ad server will collect and use Aggregate Information about you, such as your IP address, browser type, the server your computer is logged onto, the area code and zip code associated with your server and whether you responded to a particular ad. Other advertisers may also place banner ads on our Site in the same manner as above, but we will not disclose any personal information to them.
      </p>

      <h4 id="release-of-information">Release of Information</h4>
      <p>
        Information about our customers is an important part of our business, and we are not in the business of selling our customers' personal information to others. We share customers' personal information only as described below and with subsidiaries leadingblisspack.com. controls that either are subject to this Privacy Policy or follow practices at least as protective as those described in this Privacy Policy.
        <ul>
            <li>
                <strong>Transactions involving Third Parties:</strong>
                 We make available to you services, products, applications, or skills provided by third parties for use on or through Bridi-ael Group Services. For example, you can order products from third parties through our stores, download applications from third-party application providers from our App Store, and enable third-party skills through our Alexa services. We also offer services or sell product lines jointly with third-party businesses, such as co-branded credit cards. You can tell when a third party is involved in your transactions, and we share customers' personal information related to those transactions with that third party.
            </li>
            <li>
                <strong>Third-Party Service Providers:</strong>
                 We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders for products or services, delivering packages, sending postal mail and email, removing repetitive information from customer lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links), processing payments, transmitting content, scoring, assessing and managing credit risk, and providing customer service. These third-party service providers have access to personal information needed to perform their functions, but may not use it for other purposes.
            </li>
            <li>
                <strong>Business Transfers:</strong>
                 As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). Also, in the unlikely event that leadingblisspack.com, Inc. or substantially all of its assets are acquired, customer information will of course be one of the transferred assets.
            </li>
            <li>
                <strong>Protection of Bridi-ael Group and Others:</strong>
                 We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property, or safety of Bridi-ael Group, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction.
            </li>
        </ul>
      </p>

      <h4 id="information-security">How Secure Is Your Information?</h4>
      <p>
        On our Site, you can be assured that your Personal Information is secure, consistent with current industry standards. We strive to take appropriate security measures to protect against unauthorized access, unauthorized alteration, disclosure or destruction of your Personal Information. For example:
        <ul>
            <li>
                We work hard to ensure that the data we collect is reliable, accurate, complete and current. We encrypt all Personal Information, in order to prevent unauthorized parties from viewing such information when it is transmitted to us. We also only keep collected information only for as long as reasonably necessary and use it only for the purposes for which it was collected or to comply with any applicable legal or ethical reporting or document retention requirements.
            </li>
            <li>We limit access to Personal Information only to specific employees, contractors and agents who have a reasonable need to come into contact with your information. For example, we may provide members of our technical support team with limited access to your account in order to allow them to troubleshoot problems you may be having with the Site.</li>
            <li>Additionally, we also employ a number of physical, electronic, and procedural safeguards to protect Personal Information. Our secure servers and our data centers are protected by industry-standard encryption, and our servers reside behind firewalls and employ high-level password protection.</li>
            <li>Finally, access by you to your Personal Information is available through a password and unique customer ID selected by you. This password is encrypted. We recommend that you do not divulge your password to anyone.</li>
        </ul>
        In order to most effectively serve you, debit card transactions are handled by established third party banking institutions and payment processors. They receive the information needed to verify and authorize your debit card or other payment information.
        <br/><br/>
        Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your Personal Information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) the security, integrity and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.
      </p>

      <h4 id="are-children-allowed">Are Children Allowed to Use Bridi-ael Group Services?</h4>
      <p>
        Bridi-ael Group does not sell products for purchase by children. We sell children's products for purchase by adults. If you are under 18, you may use Bridi-ael Group Services only with the involvement of a parent or guardian. We do not knowingly collect personal information from children under the age of 13 without the consent of the child's parent or guardian.
      </p>

    </div>
  </div>
</div>

<%- include ../partials/footer %>
